* {
	margin: 0;
	padding:  0;
}

body {
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif, Arial;
}

.wrapper {
	margin: 0 auto;
	padding: 0px 40px;
	display:  flex;
	flex-direction: column;
	width: 80%;
}

h1 {
	color: #52545e;
	font-size: 25px;
	padding: 60px;
	margin-left: 60px;
	display: block;
	align-self: flex-start;
}

.container {
	margin: 0 auto;
	display:  flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.block {
	display:  flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction:column;
	background: #ffffff;
	width: 300px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #EAEAEA;
	margin: 20px;
	padding: 20px;
	transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.block:hover {
	transform:translateY(-15px);
	box-shadow: 0px 0px 20px #DADADA;
}	


.number {
	align-self: flex-end;
	color: #ca5c24;
	font-size: 14px;
	font-weight: 900;
}

h2 {
	align-self: flex-start;
	color: #ca5c24;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 900;
	margin: 20px 0;
}

p {
	color: #52545e;
}

@media screen and (max-width: 1280px){
	.wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 425px){
	.wrapper {
		width: 100%;
	}

	.block {
		margin: 10px;
		padding: 10px;
	}

	h1 {
		padding: 20px;
		margin-left: 10px;
	}
}

